<app-table [dataSource]="dataSource" [columns]="columns" [excludedColumns]="excludeColumns" matSort #conferenceTableSort="matSort">

  <ng-container [matColumnDef]="columns[0]">
    <mat-header-cell *matHeaderCellDef mat-sort-header> DATE TIME </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.dateTime | date: 'LLL d, yyyy - H:mm' }} </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="columns[2]">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ROOM </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.conferenceRoom.name }} </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="columns[3]">
    <mat-header-cell *matHeaderCellDef mat-sort-header> LOCATION </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.conferenceRoom.location }} </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="columns[4]">
    <mat-header-cell text-center *matHeaderCellDef></mat-header-cell>
    <mat-cell text-center *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="onUpdate(row)">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(row.id)">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </button>
    </mat-cell>
  </ng-container>

</app-table>
