<form [formGroup]="conferenceForm" class="w-100">

  <div class="row">
    <div class="col-8">
      <mat-form-field class="w-100 p-2">
        <input matInput placeholder="Title" [formControl]="conferenceForm.get('name')" required>
        <mat-error *ngIf="conferenceForm.get('name').hasError('maxlength')">
          Title is too long, max 100 characters
        </mat-error>
        <mat-error *ngIf="conferenceForm.get('name').hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="w-100 p-2">
        <input matInput placeholder="Starting date and time" type="datetime-local" [formControl]="conferenceForm.controls['dateTime']"
          required>
        <mat-error *ngIf="conferenceForm.get('dateTime').hasError('required')">
          Date and time are <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <mat-form-field class="w-100 p-2">
        <mat-select placeholder="Conference room" [compareWith]="compareFn" [formControl]="conferenceForm.controls['conferenceRoom']"
          required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let fr of rooms" [value]="fr">
            <span>{{ fr.name }}</span> |
            <small>Seats: {{ fr.maxSeats }}</small>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="conferenceForm.get('conferenceRoom').hasError('required')">
          Room for conference is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-8">
      <div class="alert alert-light w-100 p-2" role="alert">
        {{ conferenceForm.get('conferenceRoom').value?.location }}
      </div>
    </div>
  </div>

</form>

<div *ngIf="editing">
  <app-participant-table [confId]="id"></app-participant-table>
</div>

<div class="text-right">
  <button mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect [disabled]="!conferenceForm.valid || !conferenceForm.get('conferenceRoom').value.id" (click)="onSave()">Save</button>
  <button mdbBtn type="button" color="warning" class="waves-light" mdbWavesEffect (click)="onClose()">Close</button>
</div>
