<div class="m-3">
  <h4>Participants:</h4>
</div>

<div class="d-table mx-3 w-75">
  <app-table [dataSource]="dataSource" [columns]="columns" [excludedColumns]="excludeColumns" matSort #participantTableSort="matSort">

    <ng-container [matColumnDef]="columns[1]">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-right"> BIRTH DATE </mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-right"> {{ row.birthDate | date: 'LLL d, yyyy' }} </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="columns[2]">
      <mat-header-cell text-center *matHeaderCellDef></mat-header-cell>
      <mat-cell text-center *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="onRemove(row.id)">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
      </mat-cell>
    </ng-container>

  </app-table>
</div>

<hr class="p-2">

<form [formGroup]="participantForm" class="w-100" novalidate>

  <div class="row">
    <div class="col-4">
      <mat-form-field class="w-100 p-2">
        <input matInput placeholder="Name" [formControl]="participantForm.get('name')" required>
        <mat-error *ngIf="participantForm.get('name').hasError('maxlength')">
          Name is too long, max 100 characters
        </mat-error>
        <mat-error *ngIf="participantForm.get('name').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="w-100 p-2">
        <input matInput [matDatepicker]="dp" placeholder="Birth date" [formControl]="participantForm.get('birthDate')">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-4">
      <button mdbBtn type="button" size="sm" color="success" class="waves-light" mdbWavesEffect [disabled]="!participantForm.valid || dataSource.data.length >= conference.conferenceRoom.maxSeats"
        (click)="onAdd()">Add</button>
      <span *ngIf="loaded" class="badge blue m-2">{{ dataSource.data.length+" / "+conference.conferenceRoom.maxSeats }}</span>
    </div>

  </div>
</form>
