<app-header [title]="title" [desc]="description"></app-header>

<div class="text-center p-4">
  <button mdbBtn type="button" size="lg" color="blue-grey" class="waves-light" mdbWavesEffect (click)="addTab('New conference')">Create
    new conference</button>
</div>

<mat-tab-group dynamicHeight [selectedIndex]="tabs.length" class="home-tab-group">
  <mat-tab #hometab label="Conferences">
    <div class="home-tab-content">
      <app-conference-table [isActive]="hometab.isActive" (update)="addTab($event)"></app-conference-table>
    </div>
  </mat-tab>

  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    <div class="m-3">
      <h3>
        Conference management:
        <small class="text-muted">{{ tab }}</small>
      </h3>
    </div>

    <app-conference-manager [index]="index" [id]="conference?.id" (closeTab)="removeTab($event)"></app-conference-manager>
  </mat-tab>

</mat-tab-group>
