<div class="table-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search criteria">
  </mat-form-field>
</div>

<div class="table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource">

    <ng-container *ngFor="let col of columns">
      <ng-container *ngIf="!excludedColumn(col)" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mx-2"> {{ col | uppercase }} </mat-header-cell>
        <mat-cell *matCellDef="let row" class="mx-2"> {{ row[col] }} </mat-cell>
      </ng-container>
    </ng-container>

    <ng-content></ng-content>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>
